body {
  margin:0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media all and (max-width:500px){
  .input  {
 margin: right 600px;
  }
  .nav {
    background-Color:"pink"
  }
}

.over{
  overflow: scroll;
}

.btn-login:hover {
  
  border:1px  solid;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.cards-position {
   
  display: grid;
  place-items: center;
  justify-content: center; 
  flex-direction: row;
  padding: 10px;
  grid-gap: 20px;
  align-content: center; 
  grid: 350px 200px / 1fr 1fr;
  justify-items: center;
}