body {
  margin:0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media all and (max-width:500px){
  .input  {
 margin: right 600px;
  }
  .nav {
    background-Color:"pink"
  }
}

.over{
  overflow: scroll;
}

.btn-login:hover {
  
  border:1px  solid;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/* .hamburger{
  display:none;
}

@media (max-width:767px){
  .hamburger{
    display:flex;
    padding-top:10px;
    margin-left:10px;
    z-index:10;
  }
} */

